@keyframes pulse {
    0% {
        scale: 100%;
    }
    25% {
        scale: 95%;
    }
    50% {
        scale: 115%;
        
    }
    75% {
        scale: 95%;
    }
    100% {
        scale: 100%;
    }
}

:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #EBEBEBEB;

    --primary-btn-color: #C03BFF;
    --secondary-btn-color: #9200D7;

    --main-bg-color: #101010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-bg-color);
}

::-webkit-scrollbar {
    width: 0;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--main-bg-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.673);
    z-index: 1;
}

header .header-logo {
    height: 90px;
    margin: 10px auto;
}

header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 40px;
    border-bottom: 1px solid var(--secondary-text-color);
}

header img {
    transition: all .5s;
}

header img:hover {
    scale: 105%;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

header a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 20px;
    transition: all .5s;
}

header a:hover {
    color: var(--primary-btn-color);
}

header .header-menu {
    padding-right: 20px;
}

main .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    padding: 0 60px;
}

main .hero-d {
    width: 542px;
    color: var(--primary-text-color);
}

main .status-container {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(168, 168, 168);
}

main .status {
    width: 8px;
    height: 8px;
    background-color: greenyellow;
    border-radius: 50%;
    animation: pulse 1s infinite ease-in-out;
}

main .hero-oi {
    font-size: 14px;
    color: var(--secondary-text-color);
}

main .hero-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
}

main .hero-description {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--secondary-text-color);
}

main .hero-btn {
    width: 255px;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(45deg, var(--primary-btn-color), var(--secondary-btn-color));
    color: var(--primary-text-color);
    cursor: pointer;
    transition: all .5s;
}

main .hero-e {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .hero-img {
    width: 750px;
}

main .hero-email {
    font-size: 20px;
    color: rgb(168, 168, 168);
}

main .hero-btn:hover {
    width: 260px;
    background-image: linear-gradient(45deg, #cb61fc, #7103a3);
}

main .row-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    margin-bottom: 100px;
}

main .row {
    display: flex;
    width: inherit;
    height: inherit;
    margin: 0 60px;
    overflow: hidden;
}

main .row-img {
    width: 300px;
}


@keyframes row {
    0% {
        left: 0;
    }
    100% {
        left: -1560px;
    }
}

main .projects-container {
    margin: 140px 60px;
}

main .projects-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: var(--primary-text-color);
}

main .projects-description {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 60px;
}

main .projects {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 60px;
}

main .project {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(40deg, #6b039b, #ae00ff);
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid var(--main-bg-color);
    box-shadow: 2px 2px 2px black;
    transition: scale .7s;
}

main .project:hover {
    scale: 105%;
    background-image: linear-gradient(40deg, #62048e, #8302bf);
}


a {
    text-decoration: none;
}

main .project-name {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;
    opacity: .9;
    color: var(--primary-text-color);
}

main .project-img {
    width: 250px;
    height: 200px;
}

main .project-tec {
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-text-color);
    padding: 5px 40px;
    opacity: .8;
    transition: all .5s;
}

main .project-tec:hover {
    opacity: 1;
}

main .projects-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

main .projects-btn {
    width: 370px;
    height: 50px;
    margin: 60px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(45deg, var(--primary-btn-color), var(--secondary-btn-color));
    color: var(--primary-text-color);
    cursor: pointer;
    transition: all .5s;
}

main .projects-btn:hover {
    width: 385px;
    background-image: linear-gradient(45deg, #cb61fc, #7103a3);
}

main .sobre-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 140px 60px;
}

main .sobre-d {
    display: flex;
    flex-direction: column;
    width: 500px;
}

main .sobre-dtitle {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 64px;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

main .skills {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--secondary-text-color);
}

main .sobre-e {
    display: flex;
    flex-direction: column;
    width: 540px;
    
}

main .sobre-etitle{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 64px;
    text-align: right;
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

main .sobre-description {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
}

main .sobre-btn-container {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: 60px;
}

main .sobre-caption {
    font-size: 14px;
    color: var(--secondary-text-color);
}

main .sobre-btn {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(45deg, var(--primary-btn-color), var(--secondary-btn-color));
    color: var(--primary-text-color);
    cursor: pointer;
    transition: all .5s;
}

main .sobre-btn:hover {
    width: 365px;
    background-image: linear-gradient(45deg, #cb61fc, #7103a3);
}

main .contato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 140px auto;
}

main .contato-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: var(--primary-text-color);
}

main .contato-description {
    font-size: 14px;
    margin-bottom: 60px;
    color: var(--secondary-text-color);
}

main .contato-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

main .contato-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, var(--primary-btn-color), var(--secondary-btn-color));
    filter: grayscale(1);
    cursor: pointer;
    transition: all .5s;
}

main .contato-list li:hover {
    filter: grayscale(0);
    width: 280px;
}

main .contato {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: var(--primary-text-color);
    transition: color .4s;
}

main .contato-email {
    font-size: 20px;
    margin-top: 20px;
    color: rgb(168, 168, 168);
}

footer {
    margin: 270px 60px 0;
    padding-bottom: 80px;
}

footer .footer-content {
    font-size: 14px;
    color: var(--secondary-text-color);
}

.bottom-gradient {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.72), transparent 95%);
    z-index: 1;
}

@media screen and (max-width: 720px) {
    header {
        width: 100vw;
        position: static;
    }

    header .header-logo {
        height: 50px;
    }

    header .header-container {
        width: 100%;
        margin: 0;
        padding: 0 10px;
    }

    header .header-menu {
        display: none;
    }

    main .hero-container {
        width: 100vw;
        margin-top: 0;
        padding: 0 20px;
    }

    main .hero-d {
        width: 100vw;
    }

    main .hero-e {
        display: none;
    }

    main .hero-oi {
        font-size: 12px;
    }

    main .hero-title {
        font-size: 42px;
    }

    main .hero-description {
        font-size: 16px;
    }

    main .row {
        width: 100%;
        margin: 0 20px;
    }

    main .row-container {
        width: 100%;
    }

    main .projects-container {
        min-width: 100vw;
        padding: 140px 20px;
        margin: 0;
    }

    main .projects-title {
        font-size: 42px;
    }

    main .projects-description {
        font-size: 13px;
    }

    main .projects {
        min-width: 100%;
        flex-wrap: nowrap;
        justify-content: left;
        overflow-x: scroll;
        padding-inline: 20px;
    }

    main .projects-btn-container {
        width: 100%;
    }

    main .projects-btn {
        width: 350px;
        font-size: 16px;
        padding: 0;
    }

    main .sobre-container {
        min-width: 100vw;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        padding: 140px 20px;
        margin: 0;
    }

    main .sobre-d {
        width: 100%;
    }

    main .sobre-dtitle {
        font-size: 42px;
    }

    main .skills {
        font-size: 16px;
    }

    main .sobre-e {
        min-width: 100%;
        width: 0;
    }

    main .sobre-etitle {
        font-size: 42px;
    }

    main .sobre-description {
        font-size: 16px;
    }

    main .sobre-btn-container {
        align-items: center;
    }

    main .sobre-caption {
        font-size: 13px;
    }

    main .sobre-btn {
        width: 300px;
        font-size: 16px;
    }

    main .contato-container {
        margin: 140px 20px;
    }

    main .contato-title {
        font-size: 42px;
    }

    main .contato-description {
        font-size: 13px;
    }

    main  .contato {
        font-size: 30px;
    }

    footer {
        width: 100vw;
        padding: 270px 20px 80px;
        margin: 0;
    }

    footer .footer-content {
        font-size: 13px;
    }

    .bottom-gradient {
        bottom: 0;
        left: 0;
        width: 100vw;
    }
}
